<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>libretro-loong</title>
    <link rel="stylesheet" href="{{ u('/main.css') }}" />
  </head>
  <body>
    <header>
      <div class="title">
        <img src="{{ u('/images/menu_quickmenu.svg') }}" />
        <span>{{ pageTitle }}</span>
      </div>
      <span>{{ headerText }}</span>
    </header>

    <div class="main-container">
      <nav>
        <ul>
          {% for nav in navs %}
          <li>
            <a
              href="{{ u(nav.url) }}"
              class="{% if current_nav == nav.url %}current{% endif %}"
            >
              <img src="{{ u(nav.icon_url) }}" />
              <span>{{ t(nav.title_key) }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <main>
        {% block main %}
        <div class="index">
          <div class="banner">
            <img src="{{ u('/images/menu_quickmenu.svg') }}" />
            <h1>libretro-loong</h1>
          </div>
          <ul class="links">
            <li>
              <a
                href="https://www.libretro.com/index.php/home-2/"
                target="_blank"
              >
                {{ t("index.links.official-site") }}
              </a>
            </li>
            <li>
              <a href="{{ u('/quick-start.html') }}">
                {{ t("index.links.quick-start") }}
              </a>
            </li>
            <li>
              <a href="{{ u('/cores.html') }}">{{ t("index.links.cores") }}</a>
            </li>
          </ul>
        </div>
        {% endblock %}
      </main>
    </div>

    <footer>
      <a href="https://github.com/SkyBird233/libretro-loong" target="_blank">
        libretro-loong (GitHub)
      </a>
    </footer>
  </body>
</html>
