{% extends "index.html" %} {% block main %}
<h1>{{ t("quick-start.title") }}</h1>
<h2>{{ t("quick-start.update-url.title") }}</h2>
<p>{{ t("quick-start.update-url.p1") }}</p>
<p>
  <code
    >https://skybird233.github.io/libretro-loong/nightly/linux/loongarch64/latest/</code
  >
</p>
<p>{{ t("quick-start.update-url.p2") }}</p>

<h2>{{ t("quick-start.download-cores.title") }}</h2>
<p>
  {{ t("quick-start.download-cores.p1.1") }}<a href="{{ u('cores.html') }}"
    >{{ t("quick-start.download-cores.p1.2") }}</a
  >{{ t("quick-start.download-cores.p1.3") }}
</p>
{% endblock %}
